.grid {
    width: 100vw;
}

.fun-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 450px) {
    .grid {
        width: 100vw;
        display: grid;
        grid-template-columns: 45vw 45vw;
        grid-template-rows: 40vh 41vh;
        justify-content: center;
        align-items: center;
        grid-gap: 10px;
    }
}