_::-webkit-full-page-media, _:future, :root .fun-container {
    margin-top: 75px;
}


@media only screen and (min-width: 450px) {
    .fun-container {
        width: 100vw;
        display: grid;
        grid-template-columns: 45vw 45vw;
        grid-template-rows: 40vh 41vh;
        justify-content: center;
        align-items: center;
        grid-gap: 10px;
    }
}