.header {
    display: flex;
    background: #003049;
    justify-content: flex-end;;
}

.menu-link {
    color: white;
    text-decoration: none;
}

.active-link {
    border-bottom: 2px solid white;
}

.menu-items {
    opacity: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 30%;
    /*width: 45%;*/
}

.burger-menu {
    margin-top: 8px;
    margin-right: 20px;
}

@media only screen and (max-width: 450px) {
    .menu-items {
        width: 100%;
        opacity: 1;
        padding-top: 10px;
    }

    .burger-menu {
        display: none;
    }
}
.animation {
    opacity: 1;
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.closed {
    opacity: 0;
    animation: fadeOut ease 1s;
    -webkit-animation: fadeOut ease 1s;
    -moz-animation: fadeOut ease 1s;
    -o-animation: fadeOut ease 1s;
    -ms-animation: fadeOut ease 1s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}



@keyframes fadeOut {
     0% {opacity:1;}
     100% {opacity:0;}
 }

@-moz-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-o-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}

@-ms-keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
}